@model CalendarEventViewModel

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Dostępnę zajęcia</title>
</head>

<body>
    <h2>Wybierz czynność jaką chcesz wykonać</h2>

    <form asp-controller="CalendarEvents" asp-action="CreateReservation" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nazwa zajęć</th>
                    <th scope="col">Nr sali</th>
                    <th scope="col">Ilość dostępnych miejsc</th>
                    <th scope="col">Data zajęć</th>
                    <th scope="col">Czas trwania</th>
                    <th scope="col">Trener prowadzący</th>
                    <th scope="col">Rezerwacja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var calendarEvent in Model.CalendarEvents)
                {
                <tr>
                    <td>@Html.DisplayFor(m => calendarEvent.Exercise.Name)</td>
                    <td>@Html.DisplayFor(m => calendarEvent.Room.Number)</td>
                    <td>@Html.DisplayFor(m => calendarEvent.VacanciesLeft) / @Html.DisplayFor(m => calendarEvent.Room.MaxCustomersCapacity) </td>
                    <td>@Html.DisplayFor(m => calendarEvent.Date)
                    <td>@Html.DisplayFor(m => calendarEvent.Duration)
                    <td>@Html.DisplayFor(m => calendarEvent.Coach.FirstName) @Html.DisplayFor(m => calendarEvent.Coach.LastName)</td>

                    @if (IsAllowedToClick(calendarEvent, Model.Reservations))
                    {
                        var reservationNr = @GetReservationNr(calendarEvent, Model.Reservations);

                        if (calendarEvent.VacanciesLeft == 0 && reservationNr == 0)
                        {
                            <td>
                                <button type="submit" name="submit" value="@calendarEvent.Id" role="button" aria-disabled="true" class="btn btn-secondary btn-sm" disabled>Brak miejsc</button>
                            </td>
                        }
                        else
                        {
                            <td>
                                <button type="submit" name="eventId" value="@calendarEvent.Id" role="button" aria-disabled="true" class="btn btn-outline-primary btn-sm">Zarezerwuj</button>
                            </td>
                        }
                    }
                    else
                    {
                    <td>
                        <button type="submit" name="submit" value="@calendarEvent.Id" role="button" aria-disabled="true" class="btn btn-success btn-sm" disabled>Rezerwacja aktywowana</button>
                    </td>
                    <td>
                        <button type="submit" asp-action="CancelReservation" formmethod="post" name="reservationNr" value="@GetReservationNr(calendarEvent, Model.Reservations)" role="button" aria-disabled="true" class="btn btn-outline-danger btn-sm" onclick="return confirm('Czy na pewno chcesz usunąć rezerwację?')">Anuluj rezerwację</button>
                    </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </form>
</body>

</html>


@functions{
    public bool IsAllowedToClick(CalendarEvent currentEvent, List<Reservation> userReservations)
    {
        bool allowedToClick = true;
        foreach(var reservation in userReservations)
        {
            if(reservation.CalendarEvent.Id == currentEvent.Id)
            {
                if (reservation.IsActive)
                {
                    allowedToClick = false;
                    break;
                }
            }
        }
        return allowedToClick;
    }


    public int GetReservationNr(CalendarEvent currentEvent, List<Reservation> userReservations)
    {
        foreach (var reservation in userReservations)
        {
            if (reservation.CalendarEvent.Id == currentEvent.Id)
            {
                return reservation.Id;
            }
        }
        return 0;
    }
}